* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* to visualize the canvas size */

#gameContainer {
  /* background-image: url(game-assets/images/start-screen.png); */
  /* background-size: cover; */
  position: relative;
  width: 512px;
  height: 512px;
  margin: 0 auto;
  image-rendering: pixelated; /*keep lines sharp */
}

#gameCanvas {
  position: relative;
  margin: 0 auto;
  image-rendering: pixelated;
}
